    <header>
        <h1 class="titulo1"> Animales Domesticos <br>
                             El perro el mejor amigo del hombre   
        </h1>
        <img src="../images/cachorro.jpg" alt="Imagen" class="img-header">
    </header>
