    <nav class="nav-vertical">
        <ul>
            <a class="btn primary full" href="/"> MENU </a>
            <a class="btn primary full" href="/aleman"> PASTOR ALEMAN </a>
            <a class="btn primary full" href="/golden"> GOLDEN RETRIVER </a>
            <a class="btn primary full" href="/pequines"> PEQUINES</a>
        </ul>
    </nav>