<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PERROS DOMESTICOS</title>
    <link rel="stylesheet" href="./CSS/style.css">
    {{> header}}
</head>
<body>

{{> navbar}}
 
 
    <main>
        <section class="contenido">
            <p> PASTOR ALEMAN <br>
Los Pastores alemanes son una de las razas más reconocibles del mundo. Tienen un aspecto musculoso y atento y una actitud noble y distante. Son perros ágiles y bien equilibrados de porte orgulloso. Su pelaje puede presentar varios colores  y están formados por un manto superior duro, áspero y lacio, y un manto inferior grueso.<br><br>
PERSONALIDAD<br><br>
El pastor alemán desarrollará un vínculo muy estrecho con su amo y querrá pasar con él o ella el mayor tiempo posible. Aunque esta raza necesita mucha atención, lo dará todo con su lealtad y su actitud de guardián fiel e incorruptible. Por otra parte, si no dedicas tiempo a socializarlo y a entrenarlo, el pastor alemán tendrá problemas de seguridad en sí mismo y de indisciplina. Le encanta aprender y presta mucha atención al adiestramiento; de hecho, demostrará ser un alumno aventajado durante las sesiones. </p>


        <img src="../images/aleman2.jfif" alt="Imagen" class="img1">
                
            <div class="tabla">
               <table>
                   <thead>
                        <tr>
                           <th>Caracteristicas</th>
                           <th>Pastor Aleman</th>
                       </tr>
                    </thead>
                   <tbody>
                       <tr>
                           <td>Peso</td>
                           <td>Entre 34 y 43 Kg</td>
                       </tr>
                           <tr>
                           <td>Altura</td>
                           <td>Miden entre 64 y 66 CM</td>
                       <tr>
                           <td>Pelaje</td>
                           <td>Dependiendo puede ser corto o largo</td>
                       </tr>
                       <tr>
                           <td>Esperanza de vida</td>
                           <td>Entre 10 y 14 años</td>
                           </tr>
                       </tr>

               </table>
            </div>
        </section> <br>
        <img src="../images/aleman.jfif" alt="Imagen" class="img4">
    </main>

{{> footer}}

</body>
</html>
