<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PERROS DOMESTICOS</title>
    <link rel="stylesheet" href="./CSS/style.css">
    {{> header}}
</head>
<body>

{{> navbar}}
 
 
    <main>
        <section class="contenido">
            <p>GOLDEN RETRIVER<br>
Famoso por su pelaje dorado y brillante de longitud media, el Golden Retriever grande tiene una expresión amistosa y una simetría perfecta. Se desplaza con un pasos largos y fuertes en un movimiento fluido y soberbio. Los machos adultos miden entre 56 y 61 cm y pesan de 30 a 34 kg. Las hembras adultas miden entre 51 y 56 cm y pesan de 27 a 32 kg.<br><BR>
PERSONALIDAD<br><br>
El Golden Retriever es un perro amable y equilibrado que suele adaptarse bien a la vida en familia. Le encanta participar en todas las actividades, ya sean dentro o fuera de casa. Por encima de todo, es un perro cobrador, así que intentará arrastrar, tirar o llevarse todo lo que le quepa en la boca. También le encanta el agua, por lo que deberás estar atento a su seguridad cuando esté cerca de ella. No hay que olvidar que los golden son muy sensibles; de modo que debe llevarse mucho cuidado al adiestrarlos para no perder la sensibilidad en ningún momento.
</p>

<iframe width="560" height="315" src="https://www.youtube.com/embed/vx1XLzgNvyQ?si=C5MKgUKqdmcBuT0q" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
  
            </div>
        </section>

    </main>

{{> footer}}

</body>
</html>
