<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PERROS DOMESTICOS</title>
    <link rel="stylesheet" href="./CSS/style.css">
    {{> header}}
</head>
<body>

{{> navbar}}
 
 
    <main>
        <section class="contenido">
            <p>¿Qué es un perro doméstico? <br>
El término “perro doméstico” se refiere a cualquiera de los cientos de razas de perros que hay en el mundo hoy en día. Si bien estos animales varían drásticamente en cuanto a su apariencia, todos los perros, desde el chihuahua hasta el gran danés, son miembros de la misma especie, Canis familiaris. Esto separa a los perros domésticos de los caninos salvajes, como coyotes, zorros y lobos.<br><br>
Orígenes evolutivos<br>
Todos los perros descienden de una especie de lobo, pero no del lobo gris (Canis lupus), como suponen muchas personas. De hecho, la evidencia de ADN sugiere que el antepasado lobo ahora extinto de los perros modernos era euroasiático. Sin embargo, los científicos aún están trabajando para comprender exactamente qué especies dieron origen a los perros.<br> <br> 
Vivir con perros<br> 
La mayoría de los perros son una mezcla de razas: en el año 2015, un estudio estimó que solo el 5% de los perros en los refugios son de raza pura. Así como los perros se presentan en todos los tamaños, formas y colores, estos animales también vienen en un amplio espectro de temperamentos. Un bulldog puede parecer feroz, pero puede ser tierno como un gatito, mientras que un lindo cocker spaniel puede morderte el dedo sin pensarlo dos veces.</p>


        <img src="../images/perros3.jfif" alt="Imagen" class="img1">
        
        <img src="../images/perros2.jfif" alt="Imagen" class="img1">

        </section>

    </main>

{{> footer}}

</body>
</html>
