<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PERROS DOMESTICOS</title>
    <link rel="stylesheet" href="./CSS/style.css">
    {{> header}}
</head>
<body>

{{> navbar}}
 
 
    <main>
        <section class="contenido">
            <p> <br>PERRITO PEQUINES<br>
            El pekinés es una de las razas más demandadas en todo el mundo. Su tamaño reducido lo convierten en uno de los que, como sucede con el bulldog francés, mejor se adaptan al entorno urbano. Aunque que su cara achatada y patitas cortas no te engañen porque se trata de un perro con mucho carácter y alma de aguardián sin nada que envidiarle a un dóberman. Aunque amoroso con su familia y amigos humanos.</p>


        <img src="../images/pequines.jfif" alt="Imagen" class="img1">
                
            <div class="tabla">
               <table>
                   <thead>
                        <tr>
                           <th>Caracteristicas</th>
                           <th>Pequines</th>
                       </tr>
                    </thead>
                   <tbody>
                       <tr>
                           <td>Peso</td>
                           <td>Entre 14 y 17 Kg</td>
                       </tr>
                           <tr>
                           <td>Altura</td>
                           <td>Miden entre 12 y 23 CM</td>
                       <tr>
                           <td>Pelaje</td>
                           <td>Dependiendo puede ser corto o largo</td>
                       </tr>
                       <tr>
                           <td>Esperanza de vida</td>
                           <td>Entre 10 y 14 años</td>
                           </tr>
                       </tr>

               </table>
            </div>
        </section> <br>
        <img src="../images/pequines2.jfif" alt="Imagen" class="img4">
    </main>

{{> footer}}

</body>
</html>
